.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f6f7f9;
  z-index: 999;

  align-items: center;
}

.logo img {
  height: 30px;

  cursor: pointer;
}
.cart {
  position: relative;
  cursor: pointer;
}

.cart img {
  height: 28px;
}

.cart span {
  position: absolute;
  background-color: #b61020;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  top: -10px;
  right: -4px;
  color: #f6f7f9;
  font-weight: 600;
  font-size: 0.85rem;
}
